#loginbtn{
    background-color: #3a90ec;
    color: white;
    font-weight: 400;
    width: 134px;
    padding-right: 48px;
    height: 68px;
    border-radius: 8px;
}
#regbtn{
    background-color: #3a90ec;
    color: white;
    font-weight: 400;
    width: 134px;
    padding-right: 37px;
    height: 68px;
    border-radius: 8px;
}